POSTGRES_DB=marketplusdb
POSTGRES_USER=marketplus
POSTGRES_PASSWORD=marketplus123
DATABASE_URL=postgresql://marketplus:marketplus123@postgres:5432/marketplusdb
JWT_SECRET=marketplus_super_secret_change_me
DOCKERHUB_USERNAME=yourdockerhubusername
K8S_NAMESPACE=marketplus
